
<div class="container_search" [ngClass]="{min: class, max: !class}">
    <h1>Your favorite picture</h1>


    <form (submit)="onFormSumbit($event)" class="form">

        <div class="container">

            <input class="input is-info" id="input" type="text" placeholder="Search..." (input)="typeSearchTerm($event.target.value)">
    
            <div class="buttons">
                <button class="button is-info" type="submit">Search</button>
            </div>
        </div>


        <div class="con_num">

            <h3>Select the number of images</h3>

            <div class="control" (change)="numOfPic($event.target.value)">
                <label class="radio">
                  <input type="radio" name="rsv" value="10">
                  10
                </label>
                <label class="radio" >
                  <input type="radio" checked name="rsv" value="15">
                  15
                </label>
                <label class="radio">
                  <input type="radio" name="rsv" value="20">
                  20
                </label>
                <label class="radio">
                    <input type="radio" name="rsv" value="30">
                    30
                  </label>
            </div>
        </div>

    </form>

</div>

<!-- Cards  -->
<div *ngFor="let item of fotoUrl" class="containerCard">

    <mat-card class="card mat-elevation-z10">
        <!-- header  -->
        <mat-card-header class="desc">
           <p class="title">{{item.alt_description | titlecase }}</p>
        </mat-card-header>
    
       <!-- obr  -->
       <img mat-card-imgge [src]="item.urls.regular">
    
       <!-- About  -->
       <mat-card-content>
           <p> <b>Author: </b>{{ item.user.name }}</p>
           <p> <b>Location: </b>{{ item.user.location }}</p>
       </mat-card-content>
    
       <a [href]="item.urls.regular" target="_blank" class="download">
           Download
       </a>
    
    </mat-card>
</div>

<div *ngIf="emptyArray">
    <h1 class="badTerm">Please change the search term</h1>
</div>





